@import "vars";
@import "mixins";


.service-dict {
  grid-template-columns: 3fr 1fr;
}

//.screw-type {
//  grid-template-columns: repeat(3, 3fr) 2fr;
//
//  &_adm {
//    grid-template-columns: 1fr repeat(3, 3fr) 2fr 2fr;
//  }
//}


.color {
  grid-template-columns: 1fr 6fr 4fr 2fr 4fr 1fr 2fr;
}

.detail-in-goods {
  grid-template-columns: 1fr 1fr 2fr 1fr;

  &_tech {
    grid-template-columns: 2fr 0.6fr 2fr 2fr 0.6fr;
  }
}

//.detail-base-data {
//  grid-template-columns: repeat(4, 1fr) 3fr 1fr;
//}
//
//.detail-actual-data {
//  grid-template-columns: repeat(4, 1fr) 3fr 1fr 3fr 1fr;
//}

.goods {
  grid-template-columns: 2fr 1fr 2fr 1fr 1fr;
}

//.main-material {
//  grid-template-columns: repeat(4, 1fr) 2fr 1fr;
//}
//
//.add-material {
//  grid-template-columns: repeat(3, 1fr);
//}
//
//.masterbatch {
//  grid-template-columns: repeat(4, 1fr) 2fr 1fr 1fr;
//}
//
//.producer {
//  font-size: 14px;
//  grid-template-columns: 1fr 2fr 2fr 2fr 2fr 1fr  2fr 1fr;
//
//  & .btn {
//    font-size: 14px;
//  }
//
//  & form * {
//    font-size: 12px;
//  }
//}
//
//.recipe {
//  grid-template-columns: 1.5fr repeat(2, 3fr) 1.5fr 3fr 1fr 3fr 1.5fr 1.5fr;
//}
//
//.recipe-detail {
//  grid-template-columns: 1.5fr 1.5fr repeat(2, 3fr) 2fr 3fr 1fr 3fr 1fr 3fr 1fr 3fr 1.5fr 1.5fr;
//  font-size: 14px;
//  gap: 4px;
//
//  & .btn {
//    font-size: 14px;
//  }
//
//  & form * {
//    font-size: 12px;
//  }
//}
//
//.imm {
//  grid-template-columns: 1fr repeat(6, 2fr);
//}
//
//.production-request {
//  grid-template-columns: 0.18fr repeat(3, 1fr) repeat(3, 0.5fr) repeat(2, 1fr) 1.7fr 0.4fr repeat(2, 0.6fr);
//
//  &_adm {
//    font-size: 14px;
//    grid-template-columns: 0.3fr repeat(2, 1fr) repeat(2, 0.6fr) repeat(2, 1fr) repeat(2, 0.4fr) 1fr 1fr repeat(2, 0.4fr) 0.6fr;
//  }
//}
//
//.production-to-approve {
//  grid-template-columns: 0.2fr 1fr 0.5fr repeat(2, 1.5fr) 1fr 0.6fr 1fr 0.8fr 0.5fr;
//}
//
//
//.quality-list {
//  grid-template-columns: 0.8fr 1fr 0.4fr repeat(2, 1fr) repeat(7, 0.6fr);
//
//  &_adm {
//    font-size: 14px;
//    grid-template-columns: 0.4fr 2.5fr repeat(3, 0.6fr) repeat(3, 1fr) 1.5fr 0.6fr 0.8fr;
//  }
//}
//
//.request-start-stop {
//  &_adm {
//    font-size: 14px;
//    grid-template-columns: 0.2fr repeat(7, 1fr) 0.5fr 1fr;
//  }
//}
//
//.production-for-request {
//  &_adm {
//    font-size: 14px;
//    grid-template-columns: 0.3fr repeat(2, 3fr) 1fr 1fr 0.5fr;
//  }
//}
//
//.quality-for-request {
//  &_adm {
//    font-size: 14px;
//    grid-template-columns: 0.3fr repeat(2, 3fr) repeat(3, 1fr) 0.5fr;
//  }
//}
//
//.quality-report-defect {
//  &_adm {
//    font-size: 14px;
//    grid-template-columns: 0.3fr 2fr repeat(3, 1fr) 0.5fr 1fr;
//  }
//}
//
//.mold-base {
//  font-size: 14px;
//  grid-template-columns: repeat(3, 2fr) repeat(5, 1fr) 2fr 1fr;
//
//  & .btn {
//    font-size: 14px;
//  }
//
//  & form * {
//    font-size: 12px;
//  }
//}
//
//.mold-insert {
//  font-size: 14px;
//  grid-template-columns: repeat(3, 2fr) repeat(4, 1fr) 2fr 1fr;
//
//  & .btn {
//    font-size: 14px;
//  }
//
//  & form * {
//    font-size: 14px;
//  }
//}
//
//.clamping-unit {
//  font-size: 14px;
//  grid-template-columns: 2fr repeat(9, 1fr);
//
//  & .btn {
//    font-size: 14px;
//  }
//
//  & form * {
//    font-size: 12px;
//  }
//}
//
//.ejector {
//  font-size: 14px;
//  grid-template-columns: repeat(2, 2fr) repeat(5, 1fr) 0.8fr;
//
//  & .btn {
//    font-size: 14px;
//  }
//
//  & form * {
//    font-size: 12px;
//  }
//}
//
//.injection-unit {
//  font-size: 14px;
//  grid-template-columns: repeat(2, 2fr) repeat(8, 1fr);
//
//  & .btn {
//    font-size: 14px;
//  }
//
//  & form * {
//    font-size: 12px;
//  }
//}
//
//.imm-general {
//  font-size: 14px;
//  grid-template-columns: repeat(2, 2fr) repeat(6, 1fr);
//
//  & .btn {
//    font-size: 14px;
//  }
//
//  & form * {
//    font-size: 12px;
//  }
//}
//
//.recipe-color-scheme {
//  grid-template-columns: 2fr 2fr 1fr;
//}