$colorPrimary50: #F0F3F5;
$colorPrimary100: #E1E7EA;
$colorPrimary200: #C3CFD5;
$colorPrimary300: #A5B8C0;
$colorPrimary400: #86A0AC;
$colorPrimary500: #536D79;
$colorPrimary600: #3F525A;
$colorPrimary700: #2A363C;
$colorPrimary800: #242F34;
$colorPrimary900: #151B1E;
$colorPrimary950: #0A0E0F;

$colorSecondary50: #F7F3ED;
$colorSecondary100: #EFE7DC;
$colorSecondary200: #DFCFB9;
$colorSecondary300: #CFB796;
$colorSecondary400: #BF9F73;
$colorSecondary600: #BF9F73;
$colorSecondary700: #695130;
$colorSecondary800: #463620;
$colorSecondary900: #231B10;
$colorSecondary950: #120E08;

$colorNeutral50: #F0F5F2;
$colorNeutral100: #E1EAE5;
$colorNeutral200: #C2D6CB;
$colorNeutral300: #A4C1B1;
$colorNeutral400: #85AD96;
$colorNeutral500: #5C886F;
$colorNeutral600: #527A63;
$colorNeutral700: #3E5B4B;
$colorNeutral800: #293D32;
$colorNeutral900: #151E19;
$colorNeutral950: #0A0F0C;
