<html xmlns:th="http://www.thymeleaf.org" lang="en">

<body>
<div th:fragment="header">
    <header class="header">
        <div class="container">
            <menu class="menu">
                <div class="menu__item mobile__show"><i class="fa fa-solid fa-bars"></i></div>
                <div class="menu__left">
                    <a href="http://10.0.1.17/wcenter/"
                       class="menu__item"><span class="mobile__hide"><i
                            class="fa fa-solid fa-arrows-to-circle"></i></span>
                        <span class="mobile__show">&nbsp;Центр</span>
                    </a>
                    <a href="/"
                       class="menu__item" th:classappend="${activePage == 'order' ? 'active' : ''}">Заказы</a>
                    <a href="/maket"
                       class="menu__item" th:classappend="${activePage == 'maket' ? 'active' : ''}">Макет</a>
                    <a href="/film"
                       class="menu__item" th:classappend="${activePage == 'film' ? 'active' : ''}">Пленки</a>
                    <a href="/template"
                       class="menu__item" th:classappend="${activePage == 'template' ? 'active' : ''}">Шаблоны</a>
                    <a href="/dictionary"
                       class="menu__item submenu" th:classappend="${activePage == 'dict' ? 'active' : ''}">
                        Справочники
                        <!--                        <ul class="submenu__list">-->
                        <!--                            <li class="submenu__list-item goods-model">Продукция</li>-->
                        <!--                            <li class="submenu__list-item color-model">Цвета</li>-->
                        <!--                            <li class="submenu__list-item customer-model">Клиенты</li>-->
                        <!--                            <li class="submenu__list-item print-model">Печать</li>-->
                        <!--                        </ul>-->
                    </a>
                    <div
                            class="menu__item" th:classappend="${activePage == 'file' ? 'active' : ''}">Файлы
                    </div>
                    <div
                            class="menu__item" th:classappend="${activePage == 'error' ? 'active' : ''}">Ошибки
                    </div>
                    <!--                <div class="menu__item">Макет V4.1.0&nbsp;<strong>Авторизуйтесь</strong></div>-->
                </div>
                <nav class="menu__right">
                    <div class="menu__item active" id="logout-button"><i
                            class="fa fa-solid fa-arrow-right-from-bracket"></i></div>
                    <div class="menu__item active" id="login-button"><i
                            class="fa fa-solid fa-arrow-right-to-bracket"></i>&nbsp;вход
                    </div>
                    <div class="menu__item">ver 4.1.0</div>
                </nav>
            </menu>
        </div>
    </header>
    <!-- Модальное окно для входа и выхода -->
    <div id="authModal" class="login">
        <div class="login__content">
            <!-- Форма для входа -->
            <form method="post" id="login-form" action="#">
                <div class="login__header">
                    <p class="active">Вход</p>
                    <span class="login__close">&times;</span>
                </div>

                <input type="text" name="username" placeholder="Имя пользователя" required class="login__input">
                <input type="password" name="password" placeholder="Пароль" required class="login__input">
                <div class="login__buttons">
                    <button type="submit" class="btn btn-save">Войти</button>
                </div>
            </form>

            <!-- Форма для выхода -->
            <form method="post" id="logout-form" action="#">
                <div class="login__header">
                    <p class="active">Выход</p>
                    <span class="login__close">&times;</span>
                </div>
                <p class="login__text">Вы уверены, что хотите выйти?</p>
                <div class="login__buttons">
                    <button type="submit" class="btn btn-save">Выйти</button>
                </div>
            </form>
        </div>
    </div>
</div>


</body>
</html>